@namespace CleanArch.WebApp.Components.Reusable

<div>
    <FluentCard Width="250px" Height="200px">
        <h3>Sign In</h3>
        <div class="form-container">
            <FluentTextField Class="m-1" @bind-Value=username Placeholder="Username"></FluentTextField>
            <FluentTextField Class="m-1" @bind-Value=password Placeholder="Password" TextFieldType="TextFieldType.Password"></FluentTextField>

            <FluentButton Class="m-1" Appearance="Appearance.Accent">Sign In</FluentButton>
        </div>
    </FluentCard>
</div>

@code
{
    string? username, password;
}